[Unit]
Description=MapTilesDownloader
After=multi-user.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/MapTilesDownloader/src
ExecStart=/usr/bin/python3 /home/pi/MapTilesDownloader/src/server.py
Restart=always

[Install]
WantedBy=multi-user.target
